@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #1b1b1b;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #007bff transparent;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
}
