@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #000000;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #000000 transparent;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #333333;
}
